.textbox-wrapper {
    position: fixed;
    border-radius: 20px;
    height: 500px;
    width: 400px;
    bottom: 30px;
    right: 10px;
    background-color: rgb(198, 200, 225);
}

textarea {
    border: none;
    outline: none;
    resize: none;
    display: block;
    margin-inline: auto;
}

.message-input-wrapper {
    height: 100px;
    padding-block: 18px;
}

.submit-button {
    border: none;
    width: 50px;
    margin-left: 18px;
    margin-top: 5px;
}

.message-view {
    height: 350px;
    background-color: rgb(226, 230, 246);
}

.chatbot-profile {
    height: 75px;
}